/***************************************  
*                                      *
*               footder                * 
*                                      *                           
****************************************/      
.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2C3E50;
  color: #fff; }
.copyright {
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: 300;
  color: #ffffff; 
  background-color: #1a252f; }




